/*Google fonts
font-family: 'Inconsolata', monospace;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*
=========================================
Typography
=========================================
*/

* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
}

html {
    font-size: 16px;
}

h1 { 
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1rem;
}

h5 {
    font-size:0.83rem;
}

h6 {
    font-size: 0.75rem;
}

/*
===========================================
Grid Layout
===========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
    width: 100vw;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template: 1fr / repeat( 4, 1fr );
}

/*
===========================================
Card layout
===========================================
*/

.card{
    width: 250px;
    background-color: white;
    color: black;
    height: fit-content;
}


/*
===========================================
Custom styles
===========================================
*/

body {

    background-color:#1f1f1f;
    color: white;

}

a {
    text-decoration: none;
    color:gold;
    font-size: 1.1rem;
}

/*
===========================================
Custom styles
===========================================
*/

header {
    height: 250px;
    text-align: center;
}

header h1{
    padding: 60px;
}

nav ul {
    border-bottom: 3px groove rgb(54, 52, 52);
    border-top: 3px groove rgb(54, 52, 52);
    text-align: center;
}

.primary-nav ul li{
    display: inline-block;
    padding: 20px 3%;
    font-family: 'Merriweather', serif;
}