/*Google fonts
font-family: 'Inconsolata', monospace;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*
=========================================
Typography
=========================================
*/

* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
}

html {
    font-size: 16px;
}

h1 { 
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1rem;
}

h5 {
    font-size:0.83rem;
}

h6 {
    font-size: 0.75rem;
}

/*
===========================================
Grid Layout
===========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
    width: 100vw;
    margin: 0 auto;
}


/*
===========================================
Custom styles
===========================================
*/

body {

    background-color:#1f1f1f;
    color: white;

}

a {
    text-decoration: none;
    color:gold;
    font-size: 1.1rem;
}

/*
===========================================
Header
===========================================
*/

header{
    width: 100vw;
    height: 100vh;
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/*
===========================================
Primary Navigation- Full size menu
===========================================
*/

#primary-nav{

    position: absolute;
    width: 100%;
    height: 100vh;
    top: -100vh;
    left:0;
    z-index: 2;
    background-color: #1f1f1f;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: 1s;
    
}

#primary-nav ul li{
    margin: 35px 0;
}

#primary-nav ul a{
    font-size: 2rem;
    color: white;
    padding: 5px;
    letter-spacing: 1.2px;
    position: relative;
    text-transform: uppercase;
}

#primary-nav ul a::after{
    content: '';
    height: 2.5px;
    width: 0;
    background-color: rgba(255, 217, 0, 0.6);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width 0.25s;
}

#primary-nav ul a:hover::after{
    width: 100%;
}

#primary-nav ul a:hover{
    color: gold;
}

.close-icon{
    position: absolute;
    top: 40px;
    right: 60px;
    width: 28px;
    cursor: pointer;
}

.menu-icon{
    position: absolute;
    top: 40px;
    right: 60px;
    cursor: pointer;
}




