/*Google fonts
font-family: 'Inconsolata', monospace;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*
=========================================
Typography
=========================================
*/

* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
}

html {
    font-size: 16px;
}

h1 { 
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1rem;
}

h5 {
    font-size:0.83rem;
}

h6 {
    font-size: 0.75rem;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/*
===========================================
Grid Layout
===========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
    width: 80vw;
    margin: 0 auto;
}



/*
===========================================
Custom styles
===========================================
*/

body{
    width: 100vw;
    height: 100vh;
}

.bg-image {
    background-image: url("../images/bgMain.png");
    background-color: rgb(10, 10, 10);
    background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color:gold;
    font-size: 1.1rem;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

th, td{
    border: 1px solid yellow;
    border-collapse: collapse;
    color: white;
    padding: 10px;
    font-size:1.2rem;
}
/*
===========================================
Header
===========================================
*/

.header-text{
    position: absolute;
    top: 40%;
    left: 10%;
}

.header-text h1{
    color: #f1f1f1;
    font-size: 3rem;
    letter-spacing: 1.1px;
}

.header-text .small{
    font-size: 2.5rem;
    color:  #ffcf4aff;
    padding: 20px 0;
}

.search-container{
    margin: 15px 0;
    padding: 5px;
    cursor: pointer;
    height: 60px;
}

.search-icon{
    position: absolute;
    width: 28px;
    line-height: 60px;
    margin: 10px;
}

#search-input{
    padding-left: 40px;
    height: 100%;
    border: none;
    border-radius: 30px;
    padding: 10px 50px;
    width: 70%;
    font-size: 1rem;
    color:#1f1f1f;
}

#search-input::placeholder{
    color:rgb(10, 10, 10);
}

#search-input:focus{
    outline: none;
}


/*
===========================================
Primary Navigation- Full size menu
===========================================
*/

#primary-nav{

    position: absolute;
    width: 100%;
    height: 100%;
    top: -100vh;
    left:0;
    z-index: 2;
    background-color: rgb(10, 10, 10);


    transition: 1s;
    
}

#primary-nav ul li{
    margin: 35px 0;
}

#primary-nav ul a{
    font-size: 2rem;
    color: white;
    padding: 5px;
    letter-spacing: 1.2px;
    position: relative;
    text-transform: uppercase;
}

#primary-nav ul a::after{
    content: '';
    height: 2.5px;
    width: 0;
    background-color: rgba(255, 217, 0, 0.6);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width 0.25s;
}

#primary-nav ul a:hover::after{
    width: 100%;
}

#primary-nav ul a:hover{
    color: gold;
}

.close-icon{
    position: absolute;
    top: 40px;
    right: 60px;
    width: 28px;
    cursor: pointer;
}

.menu-icon{
    position: absolute;
    top: 40px;
    right: 60px;
    cursor: pointer;
}

/*
===========================================
Posts page - side nav
===========================================
*/

.side-nav {
    height: 100%;
    width: 280px;
    background-color: #1f1f1f;
    position: fixed;
    top: 0;
    left: 0;
}

.side-nav .back-icon {

    margin: 40px 0 0 30px;
    width: fit-content;

}

.back-icon img{
    width: 22px;
}

.nav-list{

    flex-direction: column;
    margin: 100px 0;

}


.nav-list a{

    padding:  10px 5px;
    margin: 10px 0;

    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
}

.nav-list a:hover{

    color: gold;

}


.main-wrapper {

    height: auto;
    background-color: #292929;
    margin-left: 280px;
    padding: 30px;
    
}

.cards-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.vertical-card {

    width: 280px;
    height: 300px;
    text-align: left;
    margin: 20px auto;
    padding: 0 15px 15px 15px;
}

.vertical-card h2{
    color: white;
    height: 150px;
    padding-top: 50px;
    font-size: 1.8rem;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.vertical-card p{
    font-size: 1.1rem;
    line-height: 1.2;
    letter-spacing: 0.8px;
    color: #1f1f1f;
}

.red-card{
    background-color: rgb(216, 83, 59);
}

.green-card{
    background-color: rgb(133, 180, 37);
}

.blue-card{
    background-color: rgb(13, 163, 201);
}

.yellow-card{
    background-color: rgb(255, 187, 0);
}

/*
===========================================
Article page
===========================================
*/

table caption {
    font-size: 2rem;
    color: white;
    margin: 25px 15px;
    text-transform: uppercase;
}

    
td:nth-child(1) {
    font-family: 'Inconsolata', monospace;
    width: 30%;
}

th{
    background-color: rgb(0, 162, 255);
    color:black;
    text-transform: uppercase;

}
